.notebooks-page-container {
    display: flex;
    /* grid-template-columns: auto auto minmax(0, 1fr); */
    height: 100vh;
    min-width: 100vw;
    background-color: #262626;
}

.notebooks-page-nb-container {
    width: 100%;
}

.page-title {
    font-size: 22px;
    color: black;
    line-height: 16px;
    font-weight: 400;
    font-family: "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    color: #333;
    padding-bottom: 30px;
    color: white;
}

.notebookss-container {
    display: flex;
    min-height: 100vh;
}

.notebooks-container {
    padding: 20px;
}

.notebooks-header {
    /* display: flex; */
    font-size: 11px;
    border-top: 2px solid #737373;
    /* width: 92em; */
    /* padding-left: 10px; */
}

.notebooks-header li {
    opacity: 0.8;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.notebooks-header li:nth-child(odd) {
    background-color: 1a1a1a;
    opacity: 0.8;
}

.notebooks-header li:first-child {
    color: #b3b3b3;
}

.notebooks-header li .sub-header-title {
    width: 55%;
    color: white;
}



.notebooks-header li .sub-header-by {
    width: 38%;
    color: white;
}

.notebooks-header li .sub-header-created {
    width: 25%;
    color: white;
}

.notebooks-header li .sub-header-actions {
    width: 18%;
    color: white;
}

a#link {
    display: flex;
    width: 490px;
    text-decoration: none;
    color: white;
}

a#link:hover {
    text-transform: uppercase;
    color: #00a82d;
}

a#link:visited {
    color: white;
}

#notebook-actions-btns {
    display: flex;
}

.rename-notebook,
.delete-notebook {
    border: none;
    background-color: #00a82d;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.rename-notebook:hover,
.delete-notebook:hover {
    text-transform: uppercase;
}

.delete-notebook {
    margin-left: 10px;
    padding: 8px;
}
