#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(205, 125, 125, 0.7); */
    /* opacity: 0.8; */
}

#modal-content {
    position: absolute;
    background-color: white;
    padding: 30px 99px 48px;
    border-radius: 5px;
}

.logo-image-div {
    display: flex;
    justify-content: center;
}

#logo-image {
    width: 46px;
    height: 46px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#log-in-h1 {
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    /* margin-top: 10px; */
}
