h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
}

.description {
    text-align: center;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 40px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.signup-button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.splash-page-signup-button {
    border-radius: 3px;
    width: 220px;
    background-color: #00a82d;
    border: none;
    height: 30px;
}

.signup-button-primary {
    text-decoration: none;
    font-size: 14px;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    line-height: 1.25em;
    color: white;
}

.signup-button-primary:visited {
    color: white;
}

.splash-page-signup-button:hover {
    background-color: #027921;
    cursor: pointer;
}

.splash-page-image {
    width: 1000px;
    height: 750px;
}

.splash-page-body-content {
    display: flex;
    justify-content: space-between;
}

.splash-page-body-texts {
    padding-right: 50px;
    padding-top: 60px;
}

h3 {
    text-transform: uppercase;
    padding-bottom: 8px;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1;
    font-weight: 550;
}

.splash-page-body-text-p {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0;

}

footer {
    border-top: 0.8px solid rgb(159, 157, 157);
    padding-top: 20px;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright-paragraph {
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
    /* background-color: rgb(247, 247, 134); */
}


.about-btn-container {
    /* display: inline; */
    text-decoration: none;
    padding-top: 0px;
}

.about-btn {
    border: none;
    /* border-radius: 3px; */
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: underline;
    padding-right: 10px;
    margin-right: 25px;
}

.about-btn:hover {
    margin-right: 30px;
    /* width: 10px;
    height: 30px; */
    cursor: pointer;
    background-color: pink;
    border-radius: 3px;
}

.about-btn:visited {
    color: black;
}

.about-links-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    padding-left: 0px;
    margin: 2px;
    margin-right: 25px;
}

.about-links {
    color: pink;
    font-size: 20px;
}
