.user-profile-icon {
    margin: -5px 20px;
    position: sticky;
}

.fa-solid {
    font-size: 30px;
}

.profile-dropdown {
    padding: auto;
    margin-top: 5px;
    margin-right: 10px;
}

li {
    display: block;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.logout-btn {
    border: none;
    background-color: white;
    cursor: pointer;
    text-decoration: underline;
}

.logout-btn:hover {
    text-transform: uppercase;
}
