.home-login-div {
    box-sizing: border-box;
    line-height: 1em;
    border: none;
    width: 150px;
    margin-right: 0;
    display: inline-flex;
    margin-top: 10px;
    margin-right: -20px;
}

.home-login-button {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: white;
    line-height: 1em;
    display: inline;
}

.home-login-button:hover {
    color: #00a82d;
    cursor: pointer;
}

.login-form-label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    margin: 10px 10px;
}


.login-form-input-div {
    margin: 8px 5px;
    display: inline-block
}

.login-form-input {
    width: 250px;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

.login-button-div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.login-button,
.demo-login {
    width: 120px;
    height: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #00a82d;
    border: 1px solid #00a82d;
    color: white;
    border-radius: 7px;
    font-weight: 400;
    cursor: pointer;
}

.login-button {
    margin-right: 5px;
}

.login-button:hover,
.demo-login:hover {
    background-color: #027921;
}

.no-account {
    font-family: 'Segoe UI', 'Roboto', 'Cantarell', 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #737373;
    text-align: center;
}

.create-account {
    font-family: 'Segoe UI', 'Roboto', 'Cantarell', 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #00a82d;
    text-align: center;
    text-decoration: none;
    margin-left: 165px;
}

.create-account:hover {
    color: #027921;
    cursor: pointer;
}


.log-in-form {
    background-color: white;
    width: 480px;
    height: 480px;
    margin-left: 25em;
    margin-top: 100px;
    border-radius: 5px;
}


.log-in-div {
    display: flex;
    justify-content: center;
}

#formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#switch-to-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-div {
    display: flex;
    justify-content: center;
}

#form-page-logo {
    width: 46px;
    height: 46px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 70px;
}

#formpage-create {
    margin-left: 10px;
}

#formpage-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10000;
}
